@model EApp.Model.UserModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form id="frmUser">
    <input type="hidden" name="Do" id="Do"  value="Add"/>
    <div class="form-group">
        <label for="pwd">Họ:</label>
        <input type="text" class="form-control" id="FIRSTNAME" name="FIRSTNAME">
    </div>

    <div class="form-group">
        <label for="pwd">Tên:</label>
        <input type="text" class="form-control" id="LASTNAME" name="LASTNAME">
    </div>

    <div class="form-group">
        <label for="pwd">Tên đăng nhập:</label>
        <input type="text" class="form-control" id="USERNAME" name="USERNAME">
    </div>

    <div class="form-group">
        <label for="pwd">Mật khẩu:</label>
        <input type="password" class="form-control" id="Password" name="Password">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="Email" name="Email">
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
</form>
<script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
<script>
    $("#frmUser").validate({
        rules: {
            FIRSTNAME:
                {
                    required: true,
                },
            LASTNAME:
                {
                    required: true,
                },
            USERNAME: {
                required: true,
            },
            Password:
                {
                    required: true

                },
            Email:
                {
                    required: true,
                    email: true
                }
        },
        messages: {
            FIRSTNAME: {
                required: "Bạn cần nhập họ !",
            },

            LASTNAME: {
                required: "Bạn chưa nhập tên !",
            },

            USERNAME: {
                required: "Bạn chưa nhập tên đăng nhập !",
            },

            Password: {
                required: "Bạn chưa nhập mật khẩu !",
            },

            Email: {
                required: "Bạn chưa nhập email !",
                email: "Email không đúng định dạng"
            },
        },
        submitHandler: function () { //onSubmit

            $.post("/Users/Actions", $("#frmUser").serialize(), function (msg) {
                if (msg.StatusCode === "00") {
                    console.log(msg);
                }
                else {
                    swal({ title: "Có lỗi xảy ra !", text: "Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi", type: "error", confirmButtonText: "Ok" });
                }
            });
            return false;
        }
    });

</script>