<!-- BEGIN: Header -->
<header id="m_header" class="m-grid__item    m-header " m-minimize-offset="200" m-minimize-mobile-offset="200">
    <div class="container">
        <div class="m_header_content">
            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark ">
                <a href="#" class="logo"><img src="/Content/assets/images/maplife-logo.png" caption="false"></a>
            </div>
            <div class="m-header_process">
                <div class="process-nav">
                    <div class="wizard__progress">
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                    </div>
                    <div class="process-steps">
                        <div class="process-step current-step">
                            <span class="process-box"><span class="icon">1</span></span>
                            <span class="heading">
                                <span class="heading-dk">Bảng minh họa</span>
                                <span class="heading-mb">BMH</span>
                            </span>
                        </div>
                        <div class="process-step">
                            <span class="process-box"><span class="icon">2</span></span>
                            <span class="heading">
                                <span class="heading-dk">Hồ sơ</span>
                                <span class="heading-mb">Hồ sơ</span>
                            </span>
                        </div>
                        <div class="process-step">
                            <span class="process-box"><span class="icon">3</span></span>
                            <span class="heading">
                                <span class="heading-dk">Phân tích tài chính</span>
                                <span class="heading-mb">PTTC</span>
                            </span>
                        </div>
                        <div class="process-step">
                            <span class="process-box"><span class="icon">4</span></span>
                            <span class="heading">
                                <span class="heading-dk">Xác nhận thanh toán</span>
                                <span class="heading-mb">Xác nhận TT</span>
                            </span>
                        </div>
                        <div class="process-step">
                            <span class="process-box"><span class="icon">5</span></span>
                            <span class="heading">
                                <span class="heading-dk">Xác nhận nội dung</span>
                                <span class="heading-mb">Xác nhận ND</span>
                            </span>
                        </div>
                        <div class="process-step">
                            <span class="process-box"><span class="icon">6</span></span>
                            <span class="heading">
                                <span class="heading-dk">Đính kèm giấy tờ</span>
                                <span class="heading-mb">ĐKGT</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>