<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--Config Cache-->
  <add key="ServerCache" value="127.0.0.1:11211"/>
  <add key="EnableCache" value="0"/>
  <add key="ServerRedisCache" value="127.0.0.1"/>
  <add key="TimeExpireCache" value="10"/>
  <add key="TimeExpireCache30" value="30" />
  <add key="TimeExpireCache60" value="60" />
  <add key="TimeExpireCache120" value="120" />
  <add key="TimeExpireCache360" value="360" /> 
  <add key="ListLanguage" value="vi,en,zh" />
  <!--Email Config-->
  <add key="MailForm" value="maplife_notification@tuando.com" />
  <add key="SENDGRID_API_KEY" value="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" />
  <add key="PathEmailNotification" value="/HtmlTeamplate/Email/Notifi.hbs" />
  <add key="SubjectEmailNotification" value="Email thông báo từ hệ thống Maplife" />
  <add key="ContactUrl" value="http://abc.com" />
  <add key="PathPDF" value="/HtmlTeamplate/PDF/pdf.hbs" />
  <add key="EmailContent_ThongBao" value="Thông báo từ hệ thống quản trị EAPP" />
</appSettings>